# This configuration is intended for development purpose, it's **your** responsibility to harden it for production
name: eventospf
services:
  mysql:
    extends:
      file: ./mysql.yml
      service: mysql
  redis:
    image: redis:7-alpine
    ports:
      - 127.0.0.1:6379:6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 10s
      retries: 10
